/*
======================================================================
Globala regler                                                        
======================================================================
*/

html {
	/*Bra storlek för att använda REM då 62.5% av 16px är 10*/
	font-size: 62.5%;
	scroll-behavior: smooth;
}

* {
	font-size: 1.6rem;
	font-family: "Montserrat", 'Roboto', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	max-width: 1080px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*outline: 1px solid red;*/
	background-color: #a9d8f7;
	flex-direction: column;
	align-items: center;
	/*background-image: url(../resources/fire.jpg);*/
}

header {
	width: 100%;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-size: 6rem;
}

/*
======================================================================
Regler för länkar                                                     
======================================================================
*/

a:link,
a:visited {
	text-decoration: none;
	color: #000;
}

a:focus,
a:hover {
	text-decoration: underline;
}

/*
======================================================================
Andra regler                                                         
======================================================================
*/

/* Appen huvudcontainer */
#app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Appens formulär */
#app form {
	display: flex;
	flex-direction: row;
	max-width: 550px;
	margin: 1rem;
	align-items: center;
	justify-content: center;
}

input {
	flex: 1 1 auto;
	border-radius: 6px;
	margin: 1rem;
	padding: 10px;
	border: none;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	box-shadow: 2px 2px 3px rgb(0, 0, 0);
}

button {
	border-radius: 6px;
	font-weight: bold;
	padding: 1rem;
	box-shadow: 1px 1px 2px rgb(0, 0, 0);
	border: none;
	background-color: rgb(255, 255, 255);
}

button:disabled, button:active {
	background-color: rgb(223, 221, 221);;
	color: #000;
	box-shadow: 2px 2px 3px rgb(0, 0, 0);

}

/* Navigationsalternativ */
#presentOptions {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

/* Översikt */
.overview {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	flex-direction: column;
	max-width: fit-content;
	border-radius: 6px;
	text-align: center;
	min-width: 120px;
	white-space: nowrap;
	margin-right: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 3px rgb(85, 85, 85);
}

.overview section {
	margin: 10px;
	display: grid;
}

.overview section .temperature {
	font-weight: bolder;
	font-size: 2rem;
}

/* Vädersymboler */
.weatherIcons {
	width: 90px;
	margin: auto;
}

table .weatherIcons {
	width: 70px;
	margin: auto;
}

/* Container för översikten */
.container {
	display: flex;
	gap: 1rem;
	overflow-x: scroll;
	padding-bottom: 20px;
	max-width: 800px;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.container::-webkit-scrollbar {
	display: none;
}

.showLocation{
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.gray-last-child p:last-child {
	font-size: 0.8em !important;
	color: gray;
	font-style: italic;
}

.dateTime p {
	font-size: 0.8em;
	color: gray;
	font-style: italic;
}

.windArrow {
	color: #000 !important;
	margin: 0.8rem;
	font-weight: bold;
	font-size: 1.7rem !important;
}

.scroll-buttons {
	position: sticky;
	border: none;
	display: flex;
	justify-content: center;
	align-items: stretch;
	min-width: 120px !important;
	align-content: center;
	cursor: pointer;
}

.scroll-buttons img {
	width: 20px;

}

#scroll-left {
	background: linear-gradient(to right,
			rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0) 100%);
	left: 0;
}

#scroll-right {
	background: linear-gradient(to left,
			rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0) 100%);
	right: 0;
}

.hidden {
	display: none !important;
}

#hourlyPresentation {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	flex-direction: column;
	border-radius: 6px;
	border-color: #073463;
	text-align: center;
	min-width: 120px;
	white-space: nowrap;
	margin: 1rem;
	font-weight: bold;
	width: 100%;
}

table {
	border-radius: 6px;
	flex: 1;
	border-radius: 3px;
	margin: 1rem;
	border-collapse: collapse;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
tr{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: space-around;
	align-items: center;
	padding: 0 1rem;
}
th{
	margin: 1.5rem 0;
}


th:hover {
	background-color: coral;
}

tr:nth-child(odd) {
	background-color: rgb(223, 221, 221);
}


svg {
	width: 600px;
	background: white;
}

#scroll-right img {
	margin-left: 60%;
}

#scroll-left img {
	margin-right: 60%;
}

@media screen and (max-width: 968px) {

	
	button, input {
		font-size: 3rem;
	}
	body {
		display: flex;
		flex-wrap: nowrap;
	}

	.container {
		display: block;
		width: 100%;
	}
	
	.overview {
		min-width: 99%;
		flex-direction: row;
		overflow-x: auto;
		white-space: nowrap;
		max-width: 550px;
		margin: 0.5rem;
		flex-wrap: nowrap;
		justify-content: space-around;
		margin: 0.5rem;

	}

	#scroll-left,
	#scroll-right {
		display: none;
	}

	h1 {
		font-size: 5rem;
	}
}

@media screen and (max-width: 850px) {
	button, input {
		font-size: 3rem;
	}
	body {
		flex-wrap: nowrap;
	}

	.container {
		display: block;
		
	}
	.dateTime{grid-area: dateTime;}
	.temp{grid-area: temp;}
	.weatherIcon{
		grid-area: weatherIcon;
	}
	.weatherIcons{
		width: 50px;
	}
	.showPrecipitation{grid-area: precipitation;}
	.showWindSpeed{grid-area: windSpeed;}

	.overview {
		min-width: 99%;
		display: grid;
		grid-template-areas: 
		'dateTime dateTime dateTime dateTime'
		' weatherIcon  temp windSpeed precipitation' 
		;
		justify-content: space-around;
		align-items: center;
		white-space: nowrap;
		max-width: 550px;
		padding: 0.5rem;
		gap: 1.6rem;
	}

	.overview section{
		display: block;
		margin: 0;
	}

	#scroll-left,
	#scroll-right {
		display: none;
	}
	th, th *{
		font-size: 1rem;
	}

	h1 {
		font-size: 5rem;
	}

}
