<!DOCTYPE html>
<html lang="sv">

<head>
    <title>WeatherApp</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="scripts/main.js" defer></script>
</head>

<body>
    <div id="app">
        <form @submit.prevent="fetchData">
            <p>
                <label for="location-input">Location: </label>
                <input type="text" v-model="location" id="location-input">
            </p>
            <button type="submit">Search</button>
        </form>

        <div class="overview">
            <div class="showTemperature" v-for="temp in weather">
                <span>Temperature: {{ temp }} °C</span>
            </div>
           
        </div>
        
        <h2>TableTest:</h2>
        <table>
            <tr>
                <th>temperature_2m</th>
                <th>relative_humidity_2m</th>
                <th>apparent_temperature</th>
                <th>precipitation_probability</th>
                <th>precipitation</th>
                <th>wind_speed_10m</th>
                <th>wind_direction_10m</th>
                <th>wind_gusts_10m</th>
            </tr>
            <tr v-for=" test in weatherTestTable.temp">
                <td>{{ test }}</td>
            </tr>
        </table>
        
    </div>
</body>

</html>